@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap");
h1 {
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: white;
  line-height: 111%;
  margin: 0px;
}

p {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: white;
  line-height: 111%;
  margin: 0px;
}

a {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: white;
  text-decoration: none;
}

body {
  margin-top: 37px;
  background: #060606;
  min-height: 6299px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  margin-left: 60px;
  margin-right: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .top nav {
  gap: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top nav a {
  font-size: 20px;
  text-decoration: none;
}

.header .top nav .contact {
  border: 1.5px solid #FFFFFF;
  border-radius: 100px;
  padding: 5px 9px;
}

.header .bottom {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  margin-left: 60px;
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 61px;
}

.hero .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 31px;
}

.hero .left h1 span {
  color: #FF5858;
}

.hero .left p {
  color: #9B869F;
}

.text {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 39px;
  margin-top: 115px;
}

.purple-rectangle {
  z-index: -1;
  position: absolute;
  width: 165px;
  height: 32px;
  left: 396px;
  top: 751px;
}

.case-study1 {
  margin-top: 152px;
  background: #7EFE92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 118px;
  padding-bottom: 116px;
  padding-left: 62px;
  padding-right: 62px;
}

.case-study1 .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.case-study1 .left h1 {
  color: black;
  font-size: 47.9425px;
}

.case-study1 .left p {
  color: black;
  font-size: 23.649px;
}

.case-study1 .left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10.75px;
  margin: 0px;
  width: 247px;
  height: 69px;
  color: black;
  background: #FFFFFF;
  -webkit-box-shadow: 10.7496px 10.7496px 0px #000000;
          box-shadow: 10.7496px 10.7496px 0px #000000;
}
/*# sourceMappingURL=style.css.map */